2023510145.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="TicketIdType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3}[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AppVerType">
    <xs:restriction base="xs:string">
      <xs:pattern value="v[0-9]+\.[0-9]+\.[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BaggageWeightType">
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0.0"/>
      <xs:maxInclusive value="50.0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LoyaltyPointsType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="10000"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SeatNumType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="300"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CabinClassType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ECONOMY"/>
      <xs:enumeration value="BUSINESS"/>
      <xs:enumeration value="FIRST"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="flight_utf8">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entry" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="ticket">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ticket_id" type="TicketIdType"/>
                    <xs:element name="destination" type="xs:string"/>
                    <xs:element name="app_ver" type="AppVerType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="metrics">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="baggage_weight" type="BaggageWeightType"/>
                    <xs:element name="loyalty_points" type="LoyaltyPointsType" nillable="true"/>
                    <xs:element name="seat_num" type="SeatNumType"/>
                  </xs:sequence>
                  <xs:attribute name="status" type="xs:string" use="required"/>
                  <xs:attribute name="cabin_class" type="CabinClassType" use="required"/>
                </xs:complexType>
              </xs:element>

              <xs:element name="timestamp" type="xs:string"/>

              <xs:element name="passenger_name">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="current_encoding" type="xs:string" use="required"/>
                      <xs:attribute name="first_char_hex" type="xs:string" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>